
<!DOCTYPE html>

<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <title>DRTC - Examen</title>
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../static/css/main.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="container">

    <div class="header">

      <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">CIUDADANO - Examen</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-right"> 
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <b class="glyphicon glyphicon-cog"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Contraseña</a></li>
                <li><a href="#">Otros</a></li>
                <li><a href="#">Guia</a></li>                 
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </nav>

    </div>

    <div class="jumbotron">
      

      <div class="alert alert-info">
        <h3>Cantidad de Intentos Restantes del Ciudadano</h3>
        <p>A usted le quedan X intentos en el examen de Reglas.</p>
      </div>

      <div id="reporte">
        <h2>Nombre de la Persona</h2>

        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Campo</th>
                <th>Valor</th> 
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>N° Reguistro</td>
                <td>00001 </td> 
              </tr> 
              <tr>
                <td>DNI</td>
                <td>70656765 </td> 
              </tr> 
              <tr>
                <td>Fecha y Hora de Examen</td>
                <td> 03/06/13 10:00am</td> 
              </tr> 
            </tbody>
          </table>
        </div>

      </div>

    </div>

    <div id="footer">
      <div class="container">
        <p>Desarrollado por <span class="cubcode"> <a target="_blank" href="cubcode.com">CubCode</a></span>, Todos los Derechos Reservados</p>
      </div>      
    </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/js/bootstrap.min.js"></script>

  </body>
</html>
