
<!DOCTYPE html>

<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <title>DRTC - Examen</title>
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../static/css/main.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="container">

    <div class="header">

      <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">CIUDADANO EVALUADO - Examen</a>
        </div> 
      </nav>

    </div>

    <div class="jumbotron">
      
      <div class="alert">
        <h3>Indicaciones antes de empezar el Examen</h3>
        <ul>
          <li>Indicacion 1</li>
          <li>Indicacion 2</li>
          <li>Indicacion 3</li> 
        </ul>
        <form class="form-inline">
          <div class="form-group">
            <input type="text" class="form-control" id="dni" placeholder="Ingrese DNI" >            
          </div>          
          <button type="submit" class="btn btn-success">Empezar Examen</button>
        </form>
        
      </div>
 

    </div>

    <div id="footer">
      <div class="container">
        <p>Desarrollado por <span class="cubcode"> <a target="_blank" href="cubcode.com">CubCode</a></span>, Todos los Derechos Reservados</p>
      </div>      
    </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/js/bootstrap.min.js"></script>

  </body>
</html>
