/*
 *
 *
 *
*/

.form-ingreso,
.form-buscar
{
	max-width: 350px;
	margin: 10px auto;
}
.form-ingreso h2
{
	text-align: center;
}

#footer
{ 
	background: #3674b4; 
	bottom: 0px;
	color: #FFF; 
	left: 0px;
	padding: 5px 0px; 
	position: relative;
	text-align: center;	
	width: 100%;
}

#wrap {  
  height: auto !important; 
  margin: 0 auto -60px; 
  padding: 0 0 60px;

}

 